<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logoap1.png " id="logoap">

        </div>
        <div class="redes">
            <a href=""> <img src="../../../assets/lin.png" id="linkedin"></a>
            <a href=""> <img src="../../../assets/ins.png" id="instagram"></a>
            <a href=""> <img src="../../../assets/git.png" id="github"></a>
            <a href=""> <img src="../../../assets/face.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-dark">INGRESO</button>
        </div>

    </div>

</div>

